{% extends 'base.html' %}
{% load static %}

{% block title %}
Ice Cream Detail
{% endblock %}

{% block content %}
    <div class="col-auto">
      <div class="card border-primary mb-3">
        <div class="card-header">
          <h4 class="card-title">{{ icecream.title }}</h4>
        </div>
        <div class="card-body">
            {% if category.description %}
                <h4 class="card-title">{{ icecream.description }}</h4>
            {% else %}
                <h4 class="card-title">Здесь должно быть описание категории, но в БД его нет, поэтому вы видите этот текст. Чтобы его указать можете зайти в админку и задать его.</h4>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}