{% extends 'base.html' %}
{% load static %}

{% block title %}
Categories List
{% endblock %}

{% block content %}
  {% for category in object_list %}
    <div class="col-auto">
      <div class="card border-primary mb-3">

          <div class="card-header">
            <a href="{% url 'by_category' category.id  %}">
              {{ category.title }}
            </a>
          </div>
          <div class="card-body">
            {% if category.description %}
              <h4 class="card-title">{{ category.description }}</h4>
            {% else %}
              <h4 class="card-title">Здесь должно быть описание категории, но в БД его нет, поэтому вы видите этот текст. Чтобы его указать можете зайти в админку и задать его.</h4>
            {% endif %}
          </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}