{% extends 'base.html' %}
{% load static %}

{% block title %}
Ice Cream List
{% endblock %}

{% block content %}
  {% if object_list %}
  {% for icecream in object_list %}
    <div class="col-auto">
      <div class="card border-primary mb-3">

          <div class="card-header">
            <a href="{% url 'icecream-detail' icecream.pk  %}">
              {{ icecream.title }}
            </a>
          </div>
          <div class="card-body">
            {% if icecream.description %}
              <h4 class="card-title">{{ icecream.description }}</h4>
            {% else %}
              <h4 class="card-title">Здесь должно быть описание мороженного, но в БД его нет, поэтому вы видите этот текст. Чтобы его указать можете зайти в админку и задать его.</h4>
            {% endif %}
          </div>
      </div>
    </div>
  {% endfor %}
  {% else %}
    <h2>Seems like no icecream yet.</h2>
  {% endif %}
{% endblock %}