<div class="col-auto">
    <div class="card border-primary mb-3">
        <a href="{% url 'icecream_detail' icecream.id  %}">
        </a>
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ icecream.title }}</h4>
            <p class="card-text">{{ icecream.content|slice:":200" }}</p>
        </div>
    </div>
</div>
